.root {
    /*-fx-font-size: 13pt;*/
    /*-fx-base: #ccc;*/
}

.text-field {
    -fx-background-radius: 20px;
}

#search .text-field {
    -fx-background-image: url("search.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 95%;
    -fx-padding: 3px 20px 3px 10px;
}

#top {
    -fx-padding: 5px;
    -fx-background-color: lightgrey;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: grey;
}

.hyperlink {
    -fx-border-width: 0;
}

.button {
    -fx-background-radius: 20px;
}

#video-panel .list-cell:hover {
    /*-fx-background-color: #e7e7e7;*/
}

#video-panel .list-cell {
    -fx-cursor: hand;
}

#video-text {
    -fx-padding: 5px 5px 5px 10px;
}

#video-title {
    -fx-font-weight: bolder;
}
