.root {
    -fx-font-size: 12px;
    -fx-font-family: "Tahoma";
    -fx-background-color: whitesmoke;
    -fx-background-repeat: repeat;
}

.hyperlink {
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-focus-traversable: false;
    -fx-effect: dropshadow(two-pass-box, #416389, 1, 1.0, 1, 1);
}

.text-field {
    -fx-background-color: whitesmoke;
    -fx-background-radius: 4;
    -fx-border-color: rgba(0, 0, 0, 0.25);
    -fx-border-radius: 4;
    -fx-effect: dropshadow(two-pass-box, #416389, 1, 1.0, 1, 1);
}

.list-view {
    -fx-background-color: whitesmoke;
    -fx-padding: 0 2 0 0;
}

.cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #2B587A;
    -fx-font-weight: bold;
}

.cell:filled {
    -fx-cursor: hand;
}

.cell:hover:filled {
    -fx-background-color: rgb(237, 241, 245);
}

.cell:selected {
    -fx-background-color: #2B587A;
    -fx-text-fill: #F5F5F5;
}

.cell:selected:hover {
    -fx-background-color: #2B587A;
    -fx-text-fill: #F5F5F5;
}

#top-panel {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, rgb(49, 71, 95), rgb(129, 156, 186));
    -fx-border-color: rgb(115, 128, 143);
    -fx-padding: 12px;
}

#content-panel {
    -fx-padding: 2 0 0 0;
}


